.select_wrapper {
  position: relative;
  display: flex;

  justify-content: space-between;
  align-items: center;
  min-width: 316px;
  padding: 12px;
  border: 0.5px solid var(--primary-border-color);
  border-radius: 12px;
  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.select_wrapper:hover,
.select_wrapper:focus-within {
  border-color: #534feb;
  box-shadow: 0 4px 8px rgba(104, 104, 104, 0.5);
}

.select_toggle {
  display: flex;
  align-items: center;
  width: 100%;
}

.select_point {
  margin-right: 20px;
}

.dropdown_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
}

.select_title {
  margin-right: 6px;
}

.dropdown_menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 8px;
}

.dropdown_menu {
  display: flex;
  flex-direction: column;
  gap: 6px;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 10;
  border-radius: 8px;
  padding: 8px;
  padding-left: 24px;
  background: var(--main-background-color);
  border: 0.5px solid var(--primary-border-color);
  max-height: 162px;
  overflow-y: auto;
  min-width: 100%;
  box-sizing: border-box;
}

.dropdown_menu::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.dropdown_menu::-webkit-scrollbar-thumb {
  background-color: #534feb;
  border-radius: 10px;
}

.dropdown_menu::-webkit-scrollbar-track {
  background: transparent;
}

.dropdown_menu::-webkit-scrollbar-button {
  display: none;
}

.dropdown_item {
  position: relative;
}
.dropdown_item:hover {
  font-weight: 500;
  color: var(--fourth-text-color);
  transition:
    font-weight 0.3s ease,
    color 0.3s ease;
  cursor: pointer;
}

.dropdown_item::before {
  content: '';
  display: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--active-button-background);
  transition: display 0.3s ease;
}

.dropdown_item:hover::before {
  position: absolute;
  top: 50%;
  left: -17px;
  transform: translateY(-50%);
  display: block;
  background-color: var(--active-button-background);
}
