.button_wrap {
  margin-bottom: 16px;
}

.button_send_form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 12px;
  border: 0.5px solid var(--primary-border-color);
  border-radius: 12px;
  opacity: 0.7;
  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  cursor: pointer;
}

.button_send_form:hover,
.button_send_form:focus {
  opacity: 1;
  border-color: var(--active-button-background);
  box-shadow: 0 4px 8px rgba(104, 104, 104, 0.5);
}

.text {
  margin-left: 8px;
  font-family: 'Preahvihear', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
}
