.statistic_box {
  padding-left: 272px;
  padding-bottom: 40px;
}

.items_wrap {
  display: flex;
  align-items: center;
  gap: 24px;
}

.item_statistic {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border: 0.5px solid var(--primary-border-color);
  border-radius: 12px;
  padding: 24px;
  width: 224px;
}

.description {
  display: flex;
  justify-content: space-between;
}
.icon_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5px solid var(--primary-border-color);
  border-radius: 8px;
  width: 40px;
  height: 40px;
}
.icon {
  fill: var(--active-button-background);
}

.description_text {
  font-weight: 300;
  font-size: 12px;
  line-height: 1.67;
  text-align: right;
}
.description_text_count {
  font-weight: 400;
  padding-right: 2px;
  color: var(--green-text-color);
}

.total_wrap {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
}

.total_text {
  font-weight: 300;
  font-size: 12px;
  line-height: 1.67;
}

.total_count {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.25;
}
