.container_sidebar {
  display: flex;
  flex-direction: column;
  max-width: 248px;
  padding: 24px;
  background-color: var(--sidebar-background-color);
  height: 100vh;
  overflow: hidden;
}

.logo_wrap {
  display: flex;
  padding: 24px 24px 24px 0;
}

.switch_sidebar {
  padding: 20px 10px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo_text {
  margin-left: 12px;
  font-family: 'Preahvihear', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
}

.list_wrap {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.list_item {
}
.nav_item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 16px;
  border-radius: 8px;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.43;
  color: var(--secondary-text-color);
  transition: color 0.5s ease;
}

.nav_item:hover,
.nav_item:focus,
.nav_item.active {
  background-color: var(--active-button-background);
  transition: color 0.5s ease;
  transition: background-color 0.5s ease;
  color: var(--primary-text-color);
  fill: white;
}

.icon:hover {
}
