.swipe_wrap {
  position: relative;
}
.swipe {
  position: absolute;
  left: 10px;
}

.slide {
  max-width: 244px;
}
.item_department {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border: 0.5px solid var(--primary-border-color);
  border-radius: 12px;
  padding: 24px;
}

.title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

.description {
  display: flex;
  justify-content: space-between;
}
.icon_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5px solid var(--primary-border-color);
  border-radius: 8px;
  width: 40px;
  height: 40px;
}
.icon {
  fill: var(--active-button-background);
}

.description_text {
  font-weight: 300;
  font-size: 12px;
  line-height: 1.67;
  text-align: right;
}
.description_text_count {
  font-weight: 400;
  padding-right: 2px;
  color: var(--green-text-color);
}

.total_wrap {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
}

.total_text {
  font-weight: 300;
  font-size: 12px;
  line-height: 1.67;
}

.total_count {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.25;
}

.arrow_back {
  position: absolute;
  top: 105%;
  left: 10px;
}
.arrow_forward {
  position: absolute;
  top: 105%;
  right: 10px;
}

.arrow_forward:hover .icon_arrow,
.arrow_back:hover .icon_arrow {
  fill: var(--active-button-background);
  transition: fill 0.3s ease;
}
