.setting_box {
  display: flex;
  gap: 12px;
  padding-top: 60px;
}

.setting_button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5px solid var(--primary-border-color);
  border-radius: 8px;
  width: 40px;
  height: 40px;
}

.setting_button:hover,
.setting_button:focus {
  background-color: var(--active-button-background);
  transition: background-color 0.3s ease;
}

.setting_button:focus .icon,
.setting_button:hover .icon {
  fill: white;
  transition: fill 0.3s ease;
}

.tooltip {
  background-color: var(--main-background-color);
  color: var(--secondary-text-color);
  border: 0.5px solid var(--primary-border-color);
  font-size: 14px;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.tooltip::after {
  content: '';
  width: 8px;
  height: 8px;
  border-bottom: 0.5px solid var(--primary-border-color);
  border-right: 0.5px solid var(--primary-border-color);
  background-color: var(--main-background-color);
  position: absolute;
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}
